#include "/home/zkauff/.xcolors/redblue"

! Fonts
Xft.dpi: 96
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

*.font: xft:DroidSansArabic:style=Regular:size=12
*.boldFont: xft:DroidSansArabic:style=Bold:size=12
*.italicFont: xft:DroidSansArabic:style=Italic:size=12
*.boldItalicFont: xft:DroidSansArabic:style=Bold Italic:size=12
rofi.terminal:	urxvtc
rofi.ssh-client:	ssh
rofi.ssh-command:	{terminal} -e {ssh-client} {host}


URxvt.url-launcher:	firefox
URxvt.matcher.button:	1
URxvt.perl-ext-common:	default
URxvt*letterSpace:	-4
URxvt*lineSpace:	-3
URxvt*scrollBar:	false
URxvt*transparent:	false
URxvt*internalBorder: 2
URXvt*externalBorder:	5
URxvt*borderLess:	false
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveLines:	9999
URxvt.iso14755:	false
twobwm.enable_compton:	true

URxvt.iso14755_52: false
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
