#include "/home/zkauff/.xcolors/synth"

! Fonts
Xft.dpi: 96
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

*.foreground:  FOREGROUND
*.background:  BACKGROUND
*.cursorColor: FOREGROUND
*.color0:      COLOR0
*.color8:      COLOR8
*.color1:      COLOR1
*.color9:      COLOR9
*.color2:      COLOR2
*.color10:     COLOR10
*.color3:      COLOR3
*.color11:     COLOR11
*.color4:      COLOR4
*.color12:     COLOR12
*.color5:      COLOR5
*.color13:     COLOR13
*.color6:      COLOR6
*.color14:     COLOR14
*.color7:      COLOR7
*.color15:     COLOR15

rofi.font:	scientifica Regular 8
rofi.terminal:	urxvtc
rofi.ssh-client:	ssh
rofi.ssh-command:	{terminal} -e {ssh-client} {host}

URxvt.url-launcher:	firefox
URxvt.matcher.button:	1
URxvt.perl-ext-common:	default, tabbed, font
URxvt.tabbed.tabbar-fg:	11
URxvt.tabbed.tabbar-bg:	15
URxvt.tabbed.tab-fg:	11
URxvt.tabbed.tab-bg:	15
URxvt*font:	xft:hax:style=Regular:size=11:hinting=full:antialias=true
URxvt*boldFont:	
URxvt*italicFont:	
URxvt*bolditalicFont:	
URxvt*letterSpace:	-2
URxvt*lineSpace:	-2
URxvt*scrollBar:	false
URxvt*transparent:	false
URxvt*internalBorder:	2
URxvt*borderColor:	#46b5d1
URXvt*externalBorder:	2
URxvt*borderLess:	false
URxvt.saveLines:	9999
URxvt.iso14755:	false
twobwm.enable_compton:	true

URxvt.iso14755_52: false
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

